.details-wrapper-product {
  padding: 8px;
  width: 650px;
}

.prod-det {
  font-family: Edu TAS Beginner, cursive;
}

.review-header {
  font-family: Edu TAS Beginner, cursive;
}

.certain-img-style {
  height: 490px;
  width: 100%;
}

.prod-details {
  padding: 0 20px; /* Add padding to the prod-details for better spacing */
}

.main-prod-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: -17em;
  padding: 4rem;
}

@media screen and (max-width: 1134px) {
  .details-wrapper-product {
    width: 80%;
  }

  .certain-img-style {
    height: 400px;
    width: 100%;
    padding: 20px;
  }

  .main-prod-wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 937px) {
  .details-wrapper-product {
    width: 100%;
  }

  .certain-img-style {
    height: 400px;
    width: 60%;
    padding: 20px;
  }
}

@media screen and (max-width: 893px) {
  .details-wrapper-product {
    width: 100%;
  }

  .certain-img-style {
    height: 400px;
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main-prod-wrapper {
    grid-template-columns: 1fr; /* Change to a single column for smaller screens */
    gap: 1rem;
  }

  .details-wrapper-product {
    width: 100%;
  }

  .certain-img-style {
    height: auto; /* Allow the height to adjust based on the image content */
    width: 100%;
  }
}
