/* .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.product-item {
    text-align: center;
    padding-bottom: 50px
}

.image-wrapper {
    margin-bottom: 10px;
}

.details-wrapper {
    border: 1px solid #1976D2;
    width: 200px;
    box-sizing: border-box;
    padding: 8px;
    margin: -17px auto 0;
}

.func-button {
    padding: 4px;
    width: 150px;
    color: #fff;
    background-color: #1976D2;
    display: inline-block;
    margin: 0 auto;
    border-radius: 5%;
    font-family: Edu TAS Beginner, cursive;
}


.no-products-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* You can adjust this value to your preference */
  margin-top: -10em; /* Move this margin to the no-products-message instead of the Box element */
}

.no-products-message p{
    font-family: Edu TAS Beginner, cursive;
}
.no-prod-message {
    font-size: 23px;
}
/* Add a new class to apply a different layout for the container when there are products */
.product-container-with-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: -110em;
    /* background-color: red; */
}

.view-more {
    cursor: pointer;
    padding: 4px;
    width: 150px;
    color: #fff;
    background-color: #1976D2;
    display: inline-block;
    margin: 0 auto;
    border-radius: 5%;
    font-family: Edu TAS Beginner, cursive;
}